#contents
{ display: inline;
    margin-left:5px;
    margin-top:5px;
    font-size: 18px;
}


#brackets-viewcalc-icon {
	background-image: url( 'images/viewcalc.svg' );
}

#brackets-viewcalc-icon.active {
	background-image: url( 'images/viewcalc-active.svg' );
}
#contents table td{

    /*background-color: red;*/
    /*height: 18px;*/
    padding-left: 10px;padding-right: 10px;
}

#contents table td input{


    /*height: 18px;*/
    margin-top:5px;
}
