#contents
{
    margin-left:15px;
    margin-top:15px;
}


#brackets-viewcalc-icon {
	background-image: url( 'images/viewcalc.svg' );
}

#brackets-viewcalc-icon.active {
	background-image: url( 'images/viewcalc-active.svg' );
}
#contents table td {
    padding: 2px;
}
